.box{
    border-radius: 10px;
    background-color: #59f34b;
    padding: 15px;
    width: 148px;
    height: 148px;
    display: inline-block;
    margin: 3px;
    font-size: 15px;
    text-align: center;
}