.box
{
    border-radius: 10px;
    background-color: #9c50ff;
    padding: 15px;
    width: 148px;
    height: 148px;
    display: inline-block;
    margin: 3px;
    font-size: 15px;
    text-align: center; 
}

.completed
{
    background-color: #aaaaaa;
}

.flex-container 
{
    display: flex;
    flex-flow: row wrap;
    width: 463px;
}